<!-- <app-dynamic-forms [jsonFormData]="formData" [styleClass]="'academics'"></app-dynamic-forms> -->

<form [formGroup]="academicsFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-row academics">
        <div class="form-group col-1">
            <label>{{'academicsForm.yourName' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'academicsForm.enterYourName' | translate}}" formControlName="fullname">
            @if(getControl("fullname").touched && getControl("fullname").errors){
            <div class="error-messages">
                @if (getControl("fullname").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
                @if (getControl("fullname").errors?.['pattern']) {
                <small class="error">{{'common.invalidformat' | translate}}</small>
                }

            </div>
            }
        </div>
        <div class="form-group col-2">
            <label>{{'academicsForm.instituteName' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'academicsForm.enterinstitutename' | translate}}"
                formControlName="instituteName">
            @if(getControl("instituteName").touched && getControl("instituteName").errors){
            <div class="error-messages">
                @if (getControl("instituteName").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
                @if (getControl("instituteName").errors?.['pattern']) {
                <small class="error">{{'common.invalidformat' | translate}}</small>
                }

            </div>
            }
        </div>

        <div class="form-group col-3">
            <label>{{'academicsForm.from' | translate}} <sup>*</sup></label>
            <div class="input-group dateTime mb-3">
                <input type="text" class="form-control" formControlName="fromDate"
                    placeholder="{{'academicsForm.enterfromdate' | translate}}" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                    <input type="date" class="hiddenDateInput" (change)="formatDate($event,'fromDate')" />
                </button>
            </div>
            @if(getControl("fromDate").touched && getControl("fromDate").errors){
            <div class="error-messages">
                @if (getControl("fromDate").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>
        <div class="form-group col-4">
            <label>{{'academicsForm.to' | translate}} <sup>*</sup></label>
            <div class="input-group dateTime mb-3">
                <input type="text" class="form-control" formControlName="toDate"
                    placeholder="{{'academicsForm.entertodate' | translate}}" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                    <input type="date" class="hiddenDateInput" (change)="formatDate($event,'toDate')" />
                </button>
            </div>
            @if(getControl("toDate").touched && getControl("toDate").errors){
            <div class="error-messages">
                @if (getControl("toDate").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group col-5">
            <label>{{'academicsForm.degree' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'academicsForm.enterdegree' | translate}}" formControlName="degree" />
            @if(getControl("degree").touched && getControl("degree").errors){
            <div class="error-messages">
                @if (getControl("degree").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-6">
            <label>{{'academicsForm.address' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'academicsForm.enteraddress' | translate}}" formControlName="address">
            @if(getControl("address").touched && getControl("address").errors){
            <div class="error-messages">
                @if (getControl("address").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
    </div>
    <div class="flex text-center my-5">
        <button class="btn style-four" type="submit" [disabled]="academicsFormGroup.invalid">{{'common.SaveSubmit' |
            translate}}</button>
    </div>
</form>