<!-- <app-dynamic-forms [jsonFormData]="formData" [styleClass]="'academics'"></app-dynamic-forms> -->

<div class="border p-4 mb-2">
    <form [formGroup]="schoolingFormGroup" (ngSubmit)="onSubmitSchoolForm()">
        <div>
            <h5>{{'schooling.schooling' | translate}} </h5>
            <p class="helperText">{{'schooling.schoolingbeforecollege' | translate}}</p>
        </div>
        <div class="form-row schools">
            <div class="form-group col-1">
                <label>{{'schooling.obtainedschool' | translate}}<sup>*</sup></label>
                <!-- <input type="text" placeholder="Select you school" formControlName="obtainedSchool"> -->
                <select class="form-select noBorderInput" aria-label="obtainedSchool" formControlName="obtainedSchool">
                    <option selected disabled value="">{{'schooling.selectyourschools' | translate}}</option>
                    @for(item of schoolsList;track item.id){
                    <option [value]="item.id">{{item.value}}</option>
                    }
                </select>
                @if(getControl("obtainedSchool").touched && getControl("obtainedSchool").errors){
                <div class="error-messages">
                    @if (getControl("obtainedSchool").errors?.['required']) {
                    <small class="error">{{'common.fieldrequired' | translate}}</small>
                    }
                    @if (getControl("obtainedSchool").errors?.['pattern']) {
                    <small class="error">{{'common.invalidformat' | translate}}</small>
                    }

                </div>
                }
            </div>
            <div class="form-group col-2">
                <label>{{'schooling.nameofsecondaryschool' | translate}} <sup>*</sup></label>
                <input type="text" placeholder="{{'schooling.enternameofsecondaryschool' | translate}}"
                    formControlName="secondarySchool">
                @if(getControl("secondarySchool").touched && getControl("secondarySchool").errors){
                <div class="error-messages">
                    @if (getControl("secondarySchool").errors?.['required']) {
                    <small class="error">{{'common.fieldrequired' | translate}}</small>
                    }
                    @if (getControl("secondarySchool").errors?.['pattern']) {
                    <small class="error">{{'common.invalidformat' | translate}}</small>
                    }

                </div>
                }
            </div>

            <div class="form-group col-3">
                <label>{{'schooling.graduationdate' | translate}} <sup>*</sup></label>
                <div class="input-group dateTime mb-3">
                    <input type="text" class="form-control" formControlName="graduationDate"
                        placeholder="{{'schooling.selectyourgraduationdate' | translate}}" />
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                        <input type="date" class="hiddenDateInput" (change)="formatDate($event,'fromDate','school')" />
                    </button>
                </div>
                @if(getControl("graduationDate").touched && getControl("graduationDate").errors){
                <div class="error-messages">
                    @if (getControl("graduationDate").errors?.['required']) {
                    <small class="error">{{'common.fieldrequired' | translate}}</small>
                    }

                </div>
                }
            </div>
            <div class="form-group col-4">
                <app-file-uploads [title]="'documentForm.uploadyourPassport' | translate"
                    [desc]="'documentForm.uploadyourPassportDesc' | translate"></app-file-uploads>
            </div>
        </div>
        <div class="flex text-end my-1">
            <button class="btn style-four" type="submit" [disabled]="schoolingFormGroup.invalid">{{'common.SaveSubmit' |
                translate}}</button>
        </div>
    </form>
</div>