<h3 class="db-content-title fs-20 fw-bold mb-22">
    Job Details
</h3>
<form class="comment-form" [formGroup]="jobPostFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-row personal">
        <div class="form-group col-1">
            <label>{{'jobPosting.jobTitle' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'jobPosting.jobTitlePlaceholder' | translate}}" formControlName="jobTitle"
                required>
            @if(getControl("jobTitle").touched && getControl("jobTitle").errors){
            <div class="error-messages">
                @if (getControl("jobTitle").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-2">
            <label>{{'jobPosting.speciality' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'jobPosting.specialityPlaceholder' | translate}}"
                formControlName="speciality" required>

            @if(getControl("speciality").touched && getControl("speciality").errors){
            <div class="error-messages">
                @if (getControl("speciality").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>

        <div class="form-group col-3">
            <label>{{'jobPosting.typeOfJob' | translate}}<sup>*</sup></label>
            <select class="form-select noBorderInput" aria-label="jobType" formControlName="jobType">
                <option selected disabled value="">{{'jobPosting.typeOfJobPlaceholder' | translate}}</option>
                @for(item of jobTypes;track item.jobType){
                <option [value]="item.id">{{item.jobType}}</option>
                }
            </select>
            @if(getControl("jobType").touched && getControl("jobType").errors){
            <div class="error-messages">
                @if (getControl("jobType").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>
        <div class="form-group col-4">
            <label>{{'jobPosting.location' | translate}} <sup>*</sup></label>
            <div class="d-flex input-group dataListInputs ">
                <input class="form-control noBorderInput" placeholder="{{'jobPosting.locationPlaceholder' | translate}}"
                    formControlName="location" [ngbTypeahead]="searchLocation" (selectItem)="onLocationSelect($event)">
                @if (searching){
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                </button>
                }
            </div>
            @if(getControl("location").touched && getControl("location").errors){
            <div class="error-messages">
                @if (getControl("location").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-5">
            <label>{{'jobPosting.expYears' | translate}}<sup>*</sup></label>
            <select class="form-select noBorderInput" aria-label="expYears" formControlName="experiencePreferred">
                <option selected disabled value="">{{'jobPosting.expYearsPlaceholder' | translate}}</option>
                @for(item of experienceList;track item.jobYears){
                <option [value]="item.id">{{item.jobYears}}</option>
                }
            </select>
            @if(getControl("experiencePreferred").touched && getControl("experiencePreferred").errors){
            <div class="error-messages">
                @if (getControl("experiencePreferred").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>
        <div class="form-group col-6">
            <label>{{'jobPosting.employer' | translate}}<sup>*</sup></label>
            <select class="form-select noBorderInput" aria-label="employer" formControlName="employer">
                <option selected disabled value="">{{'jobPosting.employerPlaceholder' | translate}}</option>
                @for(item of experienceList;track item.jobYears){
                <option [value]="item.id">{{item.jobYears}}</option>
                }
            </select>
            @if(getControl("employer").touched && getControl("employer").errors){
            <div class="error-messages">
                @if (getControl("employer").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>
    </div>
    <div class="col-md-12 mb-3">
        <div class="form-group col-7">
            <label for="jobDescription">{{'jobPosting.jobDescription' | translate}}</label>
            <textarea class="form-control" id="jobDescription" rows="3" formControlName="jobDescription"
                placeholder="{{'jobPosting.jobDescPlaceholder' | translate}}"></textarea>
            @if(getControl("jobDescription").touched && getControl("jobDescription").errors){
            <div class="error-messages">
                @if (getControl("jobDescription").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
                @if (getControl("jobDescription").errors?.['pattern']) {
                <small class="error">{{'common.invalidformat' | translate}}</small>
                }
            </div>
            }
        </div>
    </div>
    <div class="form-btn mb-3 text-end">
        <button class="btn style-three">
            {{'common.cancel' | translate}}
        </button>
        <button class="btn style-four me-3">
            {{'common.SaveSubmit' | translate}}
        </button>

    </div>
</form>