<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row {{styleClass}}">
        @for(field of formFields;track field.name;let index =$index){
        <div class="form-group col-{{index+1}}">
            <label>{{ field.label }}</label>
            <input [type]="field.type" [formControlName]="field.name" [placeholder]="field.placeholder">
            @if(getControl(field.name).touched && getControl(field.name).errors){
            <div class="error-messages">
                @if (getControl(field.name).errors?.['required']) {
                <small class="error">This field is required.</small>
                }
                @if (getControl(field.name).errors?.['minLength']) {
                <small class="error">Minimum length {{
                    getControl(field.name).errors?.['minLength'].requiredLength }} required.</small>
                }
                @if (getControl(field.name).errors?.['maxLength']) {
                <small class="error">Maximum length {{
                    getControl(field.name).errors?.['maxLength'].requiredLength }} exceeded.</small>
                }
                @if (getControl(field.name).errors?.['email']) {
                <small class="error">Please enter a valid email.</small>
                }
                @if (getControl(field.name).errors?.['pattern']) {
                <small class="error">Invalid format.</small>

                }
            </div>
            }
        </div>
        }
    </div>
    <div class="flex text-center my-5">
        <button class="btn style-four" type="submit">Save & Submit</button>
    </div>
</form>