<app-top-header />

<app-navbar />

<div class="candidateLogin row">
    <div class="col-xs-12 col-sm-12 col-md-6 bgImage"> </div>
    <div
        class="col-xs-12 col-sm-12 col-md-6 formContainer d-flex flex-column align-items-center justify-content-center">
        @if(isCandidateLogin){
        <div class="text-center">
            <app-google-signin (loginWithGoogle)="googleSignin($event)"></app-google-signin>
            <button type="button" class="btn btn-link routeButton white" routerLink="/employer-login">Company
                Login</button>
        </div>
        } @else {
        <div class="companyLogin  d-flex flex-column align-items-center justify-content-center">
            @if(!isOTPSent){
            <div class="form-group">
                <label>Your Company Email</label>
                <input type="text" placeholder="Enter your Company email" [(ngModel)]="companyEmail">
            </div>
            <div class="flex text-center mt-4">
                <button class="btn style-four" type="button" (click)="onCompanyEmailSubmit()">Login</button>
            </div>
            <button type="button" class="btn btn-link routeButton themeColor" routerLink="/">Jobseeker
                Login</button>

            } @else {
            <app-otp-layout [company-Email]="companyEmail" (otpVal)="verifyOTP($event)"></app-otp-layout>
            }
        </div>
        }
    </div>

    <!-- <a href="https://google.com" class="login-btn d-block w-100 round-4 transition" target="_blank">
                <img src="img/icons/google.png" alt="Facebook"> Continue With <strong>Google</strong>
            </a> -->