.personal {
    &.form-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 20px;

        
    }

    @media only screen and (max-width: 767px) {
        &.form-row {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}


.form-group {
    width: 100%;
}