<!-- <app-dynamic-forms [jsonFormData]="formData" [styleClass]="'personal'"></app-dynamic-forms> -->

<form [formGroup]="personalFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-row personal">
        <div class="form-group col-1">
            <label>{{'personalForm.permanentEmailNotify' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'personalForm.enteryouremailaddress' | translate}}"
                formControlName="permanentEmailNotify" required>
            @if(getControl("permanentEmailNotify").touched && getControl("permanentEmailNotify").errors){
            <div class="error-messages">
                @if (getControl("permanentEmailNotify").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-2">
            <label>{{'personalForm.permanentMobileNotify' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'personalForm.enteryPhoneNumber' | translate}}"
                formControlName="permanentMobileNotify" required>

            @if(getControl("permanentMobileNotify").touched && getControl("permanentMobileNotify").errors){
            <div class="error-messages">
                @if (getControl("permanentMobileNotify").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>

        <div class="form-group radio col-3">
            <label>{{'personalForm.gender' | translate}}<sup>*</sup></label>
            <div class="d-flex">
                <div class="form-check d-flex">
                    <input class="" type="radio" name="gender" formControlName="gender" id="male" value="male">
                    <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check d-flex ">
                    <input class="" type="radio" name="gender" formControlName="gender" id="female" value="female">
                    <label class="form-check-label" for="female">Female</label>
                </div>
            </div>
            <!-- <select class="form-select noBorderInput" aria-label="gender" formControlName="gender">
                <option selected disabled value="">{{'personalForm.selectyourGender' | translate}}</option>
                @for(item of genderList;track item.value){
                <option [value]="item.id">{{item.value}}</option>
                }
            </select> -->
            @if(getControl("gender").touched && getControl("gender").errors){
            <div class="error-messages">
                @if (getControl("gender").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-4">
            <label>{{'personalForm.dateOfBirth' | translate}} <sup>*</sup></label>
            <div class="input-group dateTime ">
                <input type="text" class="form-control" formControlName="dateOfBirth"
                    placeholder="{{'personalForm.enteryourDateofBirth' | translate}}" readonly />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                    <input type="date" class="hiddenDateInput" (change)="formatDate($event,'dateOfBirth')" />
                </button>
            </div>
            @if(getControl("dateOfBirth").touched && getControl("dateOfBirth").errors){
            <div class="error-messages">
                @if (getControl("dateOfBirth").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <!-- <div class="input-group form-group col-5">
            <label>{{'personalForm.PhoneNumber' | translate}} <sup>*</sup></label>
            <div class="d-flex input-group">
                <input class="form-control noBorderInput flex-02 w25" placeholder="{{'common.eg91' | translate}}"
                    formControlName="countryCode" [ngbTypeahead]="searchPhCode"
                    (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)" />

                <input class="form-control flex-1 noBorderInput w75"
                    placeholder="{{'personalForm.enteryPhoneNumber' | translate}}" formControlName="phoneNumber" />
            </div>
            @if(getControl("countryCode").touched && getControl("countryCode").errors){
            <div class="error-messages">
                @if (getControl("countryCode").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
            @if(getControl("phoneNumber").touched && getControl("phoneNumber").errors){
            <div class="error-messages">
                @if (getControl("phoneNumber").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
                @if (getControl("phoneNumber").errors?.['minLength']) {
                <small class="error">{{'common.minimumlength' | translate}} {{
                    getControl("phoneNumber").errors?.['minLength'].requiredLength }} {{'common.required' |
                    translate}}.</small>
                }
            </div>
            }
        </div> -->

        <div class="form-group col-6">
            <label>{{'personalForm.stateCity' | translate}} <sup>*</sup></label>
            <div class="d-flex input-group dataListInputs">
                <input class="form-control noBorderInput"
                    placeholder="{{'personalForm.enteryourstateorcity' | translate}}" formControlName="stateCity"
                    [ngbTypeahead]="searchCities" (selectItem)="onCitySelect($event)">
                @if (searching){
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                </button>
                }
            </div>
            @if(getControl("stateCity").touched && getControl("stateCity").errors){
            <div class="error-messages">
                @if (getControl("stateCity").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>



        <div class="form-group col-7">
            <label>{{'personalForm.residenceCountry' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'personalForm.enteryourcountry' | translate}} "
                formControlName="residenceCountry">
            @if(getControl("residenceCountry").touched && getControl("residenceCountry").errors){
            <div class="error-messages">
                @if (getControl("residenceCountry").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

                @if (getControl("residenceCountry").errors?.['pattern']) {
                <small class="error">{{'common.invalidformat' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group col-6">
            <label>{{'personalForm.nationality' | translate}} <sup>*</sup></label>
            <div class="d-flex input-group dataListInputs">
                <input class="form-control noBorderInput"
                    placeholder="{{'personalForm.enteryournationality' | translate}}" formControlName="nationality"
                    [ngbTypeahead]="searchCities" (selectItem)="onCitySelect($event)">
                @if (searching){
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                </button>
                }
            </div>
            @if(getControl("nationality").touched && getControl("nationality").errors){
            <div class="error-messages">
                @if (getControl("nationality").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group col-8">
            <label>{{'personalForm.passportNumber' | translate}} <sup>*</sup></label>
            <input type="text" placeholder="{{'personalForm.enteryourpassportnumber' | translate}}"
                formControlName="passportNumber">
            @if(getControl("passportNumber").touched && getControl("passportNumber").errors){
            <div class="error-messages">
                @if (getControl("passportNumber").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }

            </div>
            }
        </div>

        <div class="form-group col-9">
            <label>{{'personalForm.passportExpiryDate' | translate}} <sup>*</sup></label>
            <div class="input-group dateTime ">
                <input type="text" class="form-control" formControlName="passportExpiryDate"
                    placeholder="{{'personalForm.enterexpirydate' | translate}} " readonly />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                    <input type="date" class="hiddenDateInput" (change)="formatDate($event,'passportExpiryDate')" />
                </button>
            </div>
            @if(getControl('passportExpiryDate').touched && getControl('passportExpiryDate').errors){
            <div class="error-messages">
                @if (getControl('passportExpiryDate').errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <div class="form-group col-9">
            <label>{{'personalForm.spokenLanguages' | translate}} <sup>*</sup></label>
            <ng-multiselect-dropdown [placeholder]="'personalForm.spokenLanguages' | translate"
                [settings]="dropdownSettings" [data]="spokenLanguages" formControlName="spokenLanguages">
            </ng-multiselect-dropdown>
            @if(getControl('spokenLanguages').touched && getControl('spokenLanguages').errors){
            <div class="error-messages">
                @if (getControl('spokenLanguages').errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group radio col-10">
            <label>{{'personalForm.wasEnglishLangDegree' | translate}}<sup>*</sup></label>
            <div class="d-flex">
                <div class="form-check d-flex">
                    <input class="" type="radio" name="wasEnglishLangDegree" formControlName="wasEnglishLangDegree"
                        id="yes" value="yes">
                    <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check d-flex ">
                    <input class="" type="radio" name="wasEnglishLangDegree" formControlName="wasEnglishLangDegree"
                        id="no" value="no">
                    <label class="form-check-label" for="no">No</label>
                </div>
            </div>
            @if(getControl("wasEnglishLangDegree").touched && getControl("wasEnglishLangDegree").errors){
            <div class="error-messages">
                @if (getControl("wasEnglishLangDegree").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group col-11">
            <label>{{'personalForm.langInstruction' | translate}}<sup>*</sup></label>
            <div class="d-flex input-group dataListInputs">
                <input class="form-control noBorderInput" placeholder="{{'personalForm.langInstruction' | translate}}"
                    formControlName="degreeLanguage" [ngbTypeahead]="searchCities">
                @if (searching){
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                </button>
                }
            </div>
            @if(getControl("nationality").touched && getControl("nationality").errors){
            <div class="error-messages">
                @if (getControl("nationality").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>

        <div class="form-group radio col-10">
            <label>{{'personalForm.englishProficiencyTest' | translate}}<sup>*</sup></label>
            <div class="d-flex">
                <div class="form-check d-flex">
                    <input class="" type="radio" name="englishProficiencyTest" formControlName="englishProficiencyTest"
                        id="yes" value="yes">
                    <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check d-flex ">
                    <input class="" type="radio" name="englishProficiencyTest" formControlName="englishProficiencyTest"
                        id="no" value="no">
                    <label class="form-check-label" for="no">No</label>
                </div>
            </div>
            @if(getControl("englishProficiencyTest").touched && getControl("englishProficiencyTest").errors){
            <div class="error-messages">
                @if (getControl("englishProficiencyTest").errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div>
        <!-- <div class="form-group col-9">
            <label>{{'personalForm.wasEnglishLangDegree' | translate}} <sup>*</sup></label>
            <ng-multiselect-dropdown [placeholder]="'personalForm.wasEnglishLangDegree' | translate"
                [settings]="dropdownSettings" [data]="spokenLanguages" formControlName="wasEnglishLangDegree">
            </ng-multiselect-dropdown>
            @if(getControl('spokenLanguages').touched && getControl('spokenLanguages').errors){
            <div class="error-messages">
                @if (getControl('spokenLanguages').errors?.['required']) {
                <small class="error">{{'common.fieldrequired' | translate}}</small>
                }
            </div>
            }
        </div> -->
    </div>
    <div class="form-group col-6">
        <app-file-uploads [title]="'documentForm.uploadyourPassport' | translate"
            [desc]="'documentForm.uploadyourPassportDesc' | translate"></app-file-uploads>
    </div>
    <div class="flex text-end my-5">
        <button class="btn style-four" type="submit" [disabled]="personalFormGroup.invalid">{{'common.SaveSubmit' |
            translate}}</button>
    </div>
</form>