<h3 class="db-content-title fs-20 fw-bold mb-22">
    Previous Transactions
</h3>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div ngbAccordion [closeOthers]="true" [animation]="true">
            <!-- @for (item of items; track item.id) { -->
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="d-flex buttonClass">
                            <div class="flex-02">#1</div>
                            <div class="flex-1">Candidate Counts : 2</div>
                            <div class="flex-1">15 Sept 2024</div>
                        </div>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <!-- @for (candidate of items.candidateDetails;track candidate.id) { -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="profilePic">
                                    <img src="img/candidates/candidate-7.png" alt="Candidate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>Olivia Brown</div>
                                <div>RN-Pediatric Care</div>
                                <div>Pediatrics, Child Development, Neonatal Care</div>
                            </div>
                        </div>
                        <hr />
                        <div class="row my-2">
                            <div class="col-md-6">
                                <div class="profilePic">
                                    <img src="img/candidates/candidate-7.png" alt="Candidate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>Test Candidate</div>
                                <div>Surgeon</div>
                                <div>Heart Surgeon</div>
                            </div>
                        </div>
                        <!-- } -->
                    </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="d-flex buttonClass">
                            <div class="flex-02">#2</div>
                            <div class="flex-1">Candidate Counts : 1</div>
                            <div class="flex-1">15 Sept 2024</div>
                        </div>
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <!-- @for (candidate of items.candidateDetails;track candidate.id) { -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="profilePic">
                                    <img src="img/candidates/candidate-7.png" alt="Candidate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>Alisha</div>
                                <div>RN-Pediatric Care</div>
                                <div>Pediatrics, Child Development, Neonatal Care</div>
                            </div>
                        </div>
                        <!-- } -->
                    </div>
                </div>
            </div>
            <!-- } -->
        </div>
    </div>

</div>