<div class="p-4 mb-2">
    <form [formGroup]="academicsPGParentFormGroup" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <h5>{{'pg.postgraduateeducation' | translate}}</h5>
            <p class="helperText mt-2">
                {{'pg.postgraduateeducationobtained' | translate}}
        </div>
        <div class="form-row " formArrayName="pgFormGroup">
            <div class="academics form-row companyForm border p-4 position-relative"
                *ngFor="let ugForm of academicPGFormGrp.controls; let i = index" [formGroupName]="i">
                @if(i != 0){
                <button class="btn btn-link removeForm position-absolute right-0"
                    (click)="removePGFormGroup(i,'pgFormGroup')">
                    <img src="./img/icons/minus.png" />
                </button>
                }
                <div class="form-group col-1">
                    <label>{{'pg.trainingprogram' | translate}}<sup>*</sup></label>
                    <input type="text" placeholder="{{'academicsForm.enterinstitutename' | translate}}"
                        formControlName="trainingProgram" />
                    @if(getControl(i,"trainingProgram").touched && getControl(i,"trainingProgram").errors){
                    <div class="error-messages">
                        @if (getControl(i,"trainingProgram").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                        @if (getControl(i,"trainingProgram").errors?.['pattern']) {
                        <small class="error">{{'common.invalidformat' | translate}}</small>
                        }

                    </div>
                    }
                </div>
                <div class="form-group col-2">
                    <label>{{'pg.institutehospitaluniversityname' | translate}}<sup>*</sup></label>
                    <input type="text" placeholder="{{'academicsForm.enterinstitutename' | translate}}"
                        formControlName="instituteHospitalName" />
                    @if(getControl(i,"instituteHospitalName").touched &&
                    getControl(i,"instituteHospitalName").errors){
                    <div class="error-messages">
                        @if (getControl(i,"instituteHospitalName").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                        @if (getControl(i,"instituteHospitalName").errors?.['pattern']) {
                        <small class="error">{{'common.invalidformat' | translate}}</small>
                        }

                    </div>
                    }
                </div>
                <div class="form-group col-3">
                    <label>{{'personalForm.stateCity' | translate}} <sup>*</sup></label>
                    <div class="d-flex input-group dataListInputs">
                        <input class="form-control noBorderInput"
                            placeholder="{{'personalForm.enteryourstateorcity' | translate}}"
                            formControlName="stateCity" [ngbTypeahead]="searchCities"
                            (selectItem)="onCitySelect($event)">
                        @if (searching){
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                        </button>
                        }
                    </div>
                    @if(getControl(i,"stateCity").touched && getControl(i,"stateCity").errors){
                    <div class="error-messages">
                        @if (getControl(i,"stateCity").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-4">
                    <label>{{'schooling.country' | translate}} <sup>*</sup></label>
                    <input type="text" placeholder="{{'schooling.enteryourcountry' | translate}}"
                        formControlName="country">
                    @if(getControl(i,"country").touched && getControl(i,"country").errors){
                    <div class="error-messages">
                        @if (getControl(i,"country").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }

                        @if (getControl(i,"country").errors?.['pattern']) {
                        <small class="error">{{'common.invalidformat' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-5">
                    <label>{{'personalForm.email' | translate}} <sup>*</sup></label>
                    <input type="text" placeholder="{{'personalForm.enteryouremailaddress' | translate}}"
                        formControlName="email" required>
                    @if(getControl(i,"email").touched && getControl(i,"email").errors){
                    <div class="error-messages">
                        @if (getControl(i,"email").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-6">
                    <label>{{'specialityBoard.website' | translate}}</label>
                    <input type="text" placeholder="{{'specialityBoard.enterwebsite' | translate}}"
                        formControlName="website">
                </div>
                <div class="form-group col-7">
                    <label>{{'academicsForm.from' | translate}} <sup>*</sup></label>
                    <div class="input-group dateTime mb-3">
                        <input type="text" class="form-control" formControlName="attendedfromDate"
                            placeholder="{{'academicsForm.enterfromdate' | translate}}" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                            <input type="date" class="hiddenDateInput" (change)="formatDate($event,'fromDate','ug')" />
                        </button>
                    </div>
                    @if(getControl(i,"attendedfromDate").touched && getControl(i,"attendedfromDate").errors){
                    <div class="error-messages">
                        @if (getControl(i,"attendedfromDate").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-8">
                    <label>{{'academicsForm.to' | translate}} <sup>*</sup></label>
                    <div class="input-group dateTime mb-3">
                        <input type="text" class="form-control" formControlName="attendedtoDate"
                            placeholder="{{'academicsForm.entertodate' | translate}}" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                            <input type="date" class="hiddenDateInput" (change)="formatDate($event,'toDate','ug')" />
                        </button>
                    </div>
                    @if(getControl(i,"attendedtoDate").touched && getControl(i,"attendedtoDate").errors){
                    <div class="error-messages">
                        @if (getControl(i,"attendedtoDate").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>

                <div class="form-group radio col-9">
                    <label>{{'pg.postgraduateeducationcompleted?' | translate}}<sup>*</sup></label>
                    <div class="d-flex">
                        <div class="form-check d-flex">
                            <input class="" type="radio" name="postgraduateCompleted"
                                formControlName="postgraduateCompleted" id="yes" value="yes">
                            <label class="form-check-label" for="yes">{{'common.yes' | translate}}</label>
                        </div>
                        <div class="form-check d-flex ">
                            <input class="" type="radio" name="postgraduateCompleted"
                                formControlName="postgraduateCompleted" id="no" value="no">
                            <label class="form-check-label" for="no">{{'common.no' | translate}}</label>
                        </div>
                    </div>
                    <!-- <select class="form-select noBorderInput" aria-label="postgraduateCompleted" formControlName="postgraduateCompleted">
                                <option selected disabled value="">{{'personalForm.selectyourGender' | translate}}</option>
                                @for(item of genderList;track item.value){
                                <option [value]="item.id">{{item.value}}</option>
                                }
                            </select> -->
                    @if(getControl(i,"postgraduateCompleted").touched &&
                    getControl(i,"postgraduateCompleted").errors){
                    <div class="error-messages">
                        @if (getControl(i,"postgraduateCompleted").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>

                <div class="form-group col-10">
                    <label>{{'pg.qualificationresidencyobtained' | translate}}<sup>*</sup></label>
                    <input type="text" placeholder="{{'pg.enterqualificationresidencyobtained' | translate}}"
                        formControlName="qualificationResidencyObtained" />
                    @if(getControl(i,"qualificationResidencyObtained").touched &&
                    getControl(i,"qualificationResidencyObtained").errors){
                    <div class="error-messages">
                        @if (getControl(i,"qualificationResidencyObtained").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>

                <div class="form-group col-11">
                    <app-file-uploads [title]="'common.uploaddegreecopy' | translate"
                        [desc]="'common.uploadcertificatecopy' | translate">
                    </app-file-uploads>
                </div>
            </div>
            <div class="d-flex justify-content-end text-end my-2">
                <button class="btn style-four mx-2" type="submit" [disabled]="academicsPGParentFormGroup.invalid">
                    {{'common.SaveSubmit' | translate}}
                </button>
                <button type="button" class="btn style-four mx-2" (click)="addPGFormGroup('pgFormGroup')">
                    {{'common.addAnother' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>