<div class="db-sidebar transition">

    <div class="sidebar-content">

        <ul class="db-menu list-unstyle">
            <li>
                <a routerLink="/home-dashboard/overview" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-dashboard-line"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a routerLink="/candidates-dashboard" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-user-line"></i>
                    Profile
                </a>
            </li>
            <li>
                <a routerLink="/home-dashboard/pending-task" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-survey-line"></i>
                    Pending Task
                </a>
            </li>
            <li>
                <a routerLink="/home-dashboard/submitted-req" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-edit-box-line"></i>
                    Submitted Request
                </a>
            </li>
            <li>
                <a routerLink="/home-dashboard/document-wal" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-group-line"></i>
                    Document wallet
                </a>
            </li>
            <li>
                <a routerLink="/home-dashboard/payments" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-group-line"></i>
                    My Payments
                </a>
            </li>
            <li>
                <a routerLink="/home-dashboard/helpdesk" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="ri-group-line"></i>
                    Helpdesk
                </a>
            </li>
        </ul>
    </div>
</div>