<div class="navbar-top">
    <div class="container d-flex">
        <div class="fs-14  ps-xl-3 mb-0 text-center white flex-1 hidden" style="visibility: hidden;">
            Get your dream job with flexible plans. <a routerLink="/" class="link style-one fw-bold">Sign up with us
            </a>
        </div>
        @if(!isLogged){
        <div class=" align-items-center d-none d-md-flex">
            <button routerLink="/employer-login"
                class="link fs-14 style-four fw-medium bg-transparent border-0 transition">
                Employer Login
            </button>
            <span class="white px-2"> | </span>
            <button routerLink="/" class="link style-four fs-14 fw-medium bg-transparent border-0 transition">
                Candidate Login
            </button>
        </div>
        } @else{
        <div class="userDropdown">
            <button
                class="dropdown-toggle white d-flex align-items-center style-four position-relative bg-transparent border-0 transition"
                type="button" (click)="userDropdownToggleClass()">
                <img src="img/icons/user.svg" alt="user Icon" class="notif-btn white">&nbsp;&nbsp; {{userObject?.name}}
            </button>
            <div class="dropdown-menu top-1 border-0" [class.active]="isUserDropdownMenus">
                <ul class="list-unstyle">
                    @for(item of userDropdownOptions;track item.id){
                    @if(item.id == 100){
                    <li class="position-relative" (click)="helper.logout()">
                        <p class=" fw-semibold font_secondary text-title logout fs-15 !important">
                            {{item.name}}
                        </p>
                    </li>
                    } @else{
                    <li class="position-relative" [routerLink]="item.routerLink">
                        <p class="fs-15 fw-semibold font_secondary text-title">
                            {{item.name}}
                        </p>
                    </li>
                    }
                    }
                </ul>
            </div>
        </div>
        <!-- <div class="position-relative" [routerLink]="item.routerLink">
            <p class="fs-15 fw-semibold font_secondary text-title">
                {{userObject?.name}}
            </p>
        </div> -->
        }


    </div>
</div>