<div class="db-sidebar transition">
    <div class="db-user-option d-flex align-items-center">
        <img [src]="profilePic" alt="User Avatar" class="user-img dp" (error)="handleError()"
            referrerpolicy="no-referrer">
        <span class="fs-18 fw-bold">{{name}}</span>
    </div>
    <ul class="db-menu list-unstyle">
        <!-- <li>
            <a routerLink="/candidates-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-dashboard-line"></i>
                Dashboard
            </a>
        </li> -->
        <!-- <li>
            <a routerLink="/candidates-dashboard/my-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-line"></i>
                My Profile
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/applied-job" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-briefcase-line"></i>
                Applied Job
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/job-alerts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-survey-line"></i>
                Job Alerts
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/shortlist-jobs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-edit-box-line"></i>
                Shortlist Jobs
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/account-settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-settings-2-line"></i>
                Account Settings
            </a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-delete-bin-6-line"></i>
                Delete Profile
            </a>
        </li>
        <li>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-logout-box-line"></i>
                Logout
            </a>
        </li> -->

        <li>
            <a routerLink="/candidates-dashboard/user-info" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-3-line"></i>
                User Info
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/personal-forms" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-3-line"></i>
                Basic Information
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/schooling-forms" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-user-3-line"></i>
                School Education
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/ug-education" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-book-shelf-line"></i>
                UG Education
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/pg-education" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-book-shelf-line"></i>
                PG Education
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/speciality-board" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-book-shelf-line"></i>
                Speciality Board
            </a>
        </li>
        <!-- <li>
            <a routerLink="/candidates-dashboard/document-forms" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-book-open-line"></i>
                Documents
            </a>
        </li> -->
        <li>
            <a routerLink="/candidates-dashboard/experience-forms" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-braces-line"></i>
                Experiences
            </a>
        </li>
        <li>
            <a routerLink="/candidates-dashboard/license-register" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <i class="ri-braces-line"></i>
                License Register
            </a>
        </li>

    </ul>
</div>