<div class="position-relative">
    <div class="searchRow d-block d-lg-none">
        <div class="input-group iconSearch input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text ">
                    <img src="./img/icons/search-black.svg" />
                </span>
            </div>
            <input type="text" class="form-control" placeholder="search candidates" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchText">
        </div>
    </div>
    <div class="row ">
        @for(candidate of applicantData | filter: searchText;track candidate.id){
        <div class="col-md-4">
            <app-applicant-card [data]="candidate" (selectedCandidate)="selectedCandidate($event)"></app-applicant-card>
        </div>
        }
    </div>

    <!-- @if(candidateSelected.length > 0){
    <div class="card selectionCard col-xl-3 col-lg-4 position-sticky">
        <div class="card-body">
            <div>
                {{candidateSelected.length}} candidates selected
            </div>
            <div class="d-flex">
                <button class="btn btn-light btn-link btn-sm white" (click)="clearSelectionList()">clear</button>
                <button class="btn btn-warning btn-sm" (click)="checkoutOutCandidates()">Checkout</button>
            </div>
        </div>
    </div>
    } -->
</div>