<div class="p-4 mb-2">
    <form [formGroup]="academicsUGParentFormGroup" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <h5>{{'education.undergraduateeducation' | translate}}</h5>
            <p class="helperText mt-2">
                {{'education.undergraduateeducationsecondary' | translate}}
        </div>
        <div class="form-row " formArrayName="ugFormGroup">
            <div class="academics form-row companyForm border p-4 position-relative"
                *ngFor="let ugForm of academicUGFormGrp.controls; let i = index" [formGroupName]="i">
                @if(i != 0){
                <button class="btn btn-link removeForm position-absolute right-0"
                    (click)="removeUGFormGroup(i,'ugFormGroup')">
                    <img src="./img/icons/minus.png" />
                </button>
                }
                <div class="form-group col-1">
                    <label>{{'education.nameofuniversity' | translate}}<sup>*</sup></label>
                    <input type="text" placeholder="{{'academicsForm.enterinstitutename' | translate}}"
                        formControlName="fullInstituteName" />
                    @if(getUGControl(i,"fullInstituteName").touched && getUGControl(i,"fullInstituteName").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"fullInstituteName").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                        @if (getUGControl(i,"fullInstituteName").errors?.['pattern']) {
                        <small class="error">{{'common.invalidformat' | translate}}</small>
                        }

                    </div>
                    }
                </div>
                <div class="form-group col-2">
                    <label>{{'personalForm.stateCity' | translate}} <sup>*</sup></label>
                    <div class="d-flex input-group dataListInputs">
                        <input class="form-control noBorderInput"
                            placeholder="{{'personalForm.enteryourstateorcity' | translate}}"
                            formControlName="stateCity" [ngbTypeahead]="searchCities"
                            (selectItem)="onCitySelect($event)">
                        @if (searching){
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/searchLoader.gif" alt="calender">
                        </button>
                        }
                    </div>
                    @if(getUGControl(i,"stateCity").touched && getUGControl(i,"stateCity").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"stateCity").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-3">
                    <label>{{'schooling.country' | translate}} <sup>*</sup></label>
                    <input type="text" placeholder="{{'schooling.enteryourcountry' | translate}}"
                        formControlName="country">
                    @if(getUGControl(i,"country").touched && getUGControl(i,"country").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"country").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }

                        @if (getUGControl(i,"country").errors?.['pattern']) {
                        <small class="error">{{'common.invalidformat' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-4">
                    <label>{{'personalForm.email' | translate}} <sup>*</sup></label>
                    <input type="text" placeholder="{{'personalForm.enteryouremailaddress' | translate}}"
                        formControlName="email" required>
                    @if(getUGControl(i,"email").touched && getUGControl(i,"email").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"email").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-5">
                    <label>{{'specialityBoard.website' | translate}}</label>
                    <input type="text" placeholder="{{'education.enterwebsite' | translate}}" formControlName="website">
                </div>
                <div class="form-group col-6">
                    <label>{{'academicsForm.from' | translate}} <sup>*</sup></label>
                    <div class="input-group dateTime mb-3">
                        <input type="text" class="form-control" formControlName="attendedfromDate"
                            placeholder="{{'academicsForm.enterfromdate' | translate}}" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                            <input type="date" class="hiddenDateInput" (change)="formatDate($event,'fromDate','ug')" />
                        </button>
                    </div>
                    @if(getUGControl(i,"attendedfromDate").touched && getUGControl(i,"attendedfromDate").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"attendedfromDate").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-7">
                    <label>{{'academicsForm.to' | translate}} <sup>*</sup></label>
                    <div class="input-group dateTime mb-3">
                        <input type="text" class="form-control" formControlName="attendedtoDate"
                            placeholder="{{'academicsForm.entertodate' | translate}}" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                            <input type="date" class="hiddenDateInput" (change)="formatDate($event,'toDate','ug')" />
                        </button>
                    </div>
                    @if(getUGControl(i,"attendedtoDate").touched && getUGControl(i,"attendedtoDate").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"attendedtoDate").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>

                <div class="form-group col-8">
                    <label>{{'education.graduationdate' | translate}} <sup>*</sup></label>
                    <div class="input-group dateTime mb-3">
                        <input type="text" class="form-control" formControlName="graduationDate"
                            placeholder="{{'education.selectyourgraduationdate' | translate}}" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <img class="iconType" src="/img/icons/calendar.svg" alt="calender">
                            <input type="date" class="hiddenDateInput"
                                (change)="formatDate($event,'fromDate','school')" />
                        </button>
                    </div>
                    @if(getUGControl(i,"graduationDate").touched && getUGControl(i,"graduationDate").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"graduationDate").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>

                <div class="form-group col-9">
                    <label>{{'academicsForm.degree' | translate}} <sup>*</sup></label>
                    <input type="text" placeholder="{{'academicsForm.enterdegree' | translate}}"
                        formControlName="degree" />
                    @if(getUGControl(i,"degree").touched && getUGControl(i,"degree").errors){
                    <div class="error-messages">
                        @if (getUGControl(i,"degree").errors?.['required']) {
                        <small class="error">{{'common.fieldrequired' | translate}}</small>
                        }
                    </div>
                    }
                </div>
                <div class="form-group col-10">
                    <app-file-uploads [title]="'common.uploaddegreecopy' | translate"
                        [desc]="'common.uploadcertificatecopy' | translate">
                    </app-file-uploads>
                </div>
            </div>
            <div class="d-flex justify-content-end text-end my-2">
                <button class="btn style-four mx-2" type="submit" [disabled]="academicsUGParentFormGroup.invalid">
                    {{'common.SaveSubmit' | translate}}
                </button>
                <button type="button" class="btn style-four mx-2" (click)="addUGFormGroup('ugFormGroup')">
                    {{'common.addAnother' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>