<div class="px-4 d-flex flex-column">
    <div class="px-5">
        <p>{{'common.personal' | translate}} {{'common.documents' | translate}}</p>
        <div>
            <app-file-uploads [title]="'documentForm.uploadyourPassport' | translate"
                [desc]="'documentForm.uploadyourPassportDesc' | translate"></app-file-uploads>
        </div>
        <div class="mt-3">
            <app-file-uploads [title]="'documentForm.pleaseuploadyourPhoto' | translate"
                [desc]="'documentForm.pleaseuploadyourPhotoDesc' | translate"></app-file-uploads>
        </div>
        <div class="my-2 text-end">
            <button class="btn style-four" (click)="uploadFiles('personal')">{{'documentForm.submitPersonal' |
                translate}}</button>
        </div>
    </div>
    <div class="lines align-self-center my-4"></div>
    <div class="px-5">
        <p>{{'common.educational' | translate}} {{'common.documents' | translate}}</p>
        <div>
            <app-file-uploads [title]="'documentForm.degreeCertificate' | translate"
                [desc]="'documentForm.degreeCertificateDesc' | translate"></app-file-uploads>
        </div>
        <div class="mt-3">
            <app-file-uploads [title]="'documentForm.nursingCertificate' | translate"
                [desc]="'documentForm.nursingCertificateDesc' | translate"></app-file-uploads>
        </div>
        <div class="my-2 text-end">
            <button class="btn style-four" (click)="uploadFiles('education')">{{'documentForm.submitEducational' |
                translate}}</button>
        </div>
    </div>
</div>