<div class="px-4 d-flex flex-column">
    <div class="px-5">
        <p>Personal Documents</p>
        <div>
            <app-file-uploads [title]="'Please upload your Passport'" [desc]="'Please upload a color scanned pdf of both front and back side of your passport, ensuring good lighting'"
                ></app-file-uploads>
        </div>
        <div class="mt-3">
            <app-file-uploads [title]="'Please upload your Photo'"
                [desc]="'Please upload your recent passport photo in JPG or PDF format'"
                ></app-file-uploads>
        </div>
        <div class="my-2 text-end">
            <button class="btn style-four">Save & Submit</button>
        </div>
    </div>
    <div class="lines align-self-center my-4"></div>
    <div class="px-5">
        <p>Educational Documents</p>
        <div>
            <app-file-uploads [title]="'Please upload your Passport'"
                [desc]="'Please upload a color scanned pdf of both front and back side of your passport, ensuring good lighting'"
                ></app-file-uploads>
        </div>
        <div class="mt-3">
            <app-file-uploads [title]="'Please upload your Photo'"
                [desc]="'Please upload your recent passport photo in JPG or PDF format'"
                ></app-file-uploads>
        </div>
        <div class="my-2 text-end">
            <button class="btn style-four">Save & Submit</button>
        </div>
    </div>
</div>