.toast-container {
  z-index: 1055;
  /* Ensure it's above other elements */
}

.toast {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  display: block;
}

.toast-body {
  color: white;
}