<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                Selected Candidates
            </div>
        </div>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">jobTitle</th>
                    <th scope="col">location</th>
                </tr>
            </thead>
            <tbody>
                @for(candidate of selectionList;track candidate.id;let i = $index){
                <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{candidate.name}}</td>
                    <td>{{candidate.jobTitle}}</td>
                    <td>{{candidate.location}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="buttonSection d-flex justify-content-end">
        <button class="btn btn-light btn-light btn-sm mx-2" (click)="back()"><span>⇦</span> back</button>
        <button class="btn btn-warning btn-sm mx-2" (click)="confirmSelections()">Submit to hire <span>⇨</span></button>
    </div>
</div>