<app-top-header />

<!-- <app-navbar /> -->

<!-- Dashboard -->
<div class="container-fluid p-0">

    <div class="db-wrapper position-relative">
        <div class="row">
            <div class="col-xl-3 col-lg-4 position-relative sidebar">
                <div class="db-user-option logo-wrapper">
                    <img src="img/web-logo.png" class="home-logo" alt="Logo">
                </div>
                <app-sidebar />
            </div>
            <div class="col-xl-9 col-lg-8">
                <router-outlet />
            </div>
        </div>
    </div>
</div>
<!-- End Dashboard -->

<app-footer />

<app-back-to-top />